// Ubuntu core colours
$ubuntu-orange: #E95420;
$white: #FFFFFF;
$black: #000000;

// Supporting colours
$light-aubergine: #77216F;
$mid-aubergine: #5E2750;
$dark-aubergine: #2C001E;

// Netural colours
$warm-grey: #AEA79F;
$cool-grey: #333333;
$text-grey: #111111;

// Canonical core colours
$canonical-aubergine: #772953;
