@import './_variables.scss';
@import './_colours.scss';

@font-face {
    font-family: 'Ubuntu Mono';
    src: url('/fonts/UbuntuMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Ubuntu Mono', sans-serif;
    background-color: $canonical-aubergine;
    color: $white;
    overflow: hidden;
}